.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;
    background-color: var(--DarkGrey);
    margin: 100px auto;
    border-radius: 20px;
    padding: 30px 1px;
  }
