.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 300px;
  background-color: var(--DarkGrey);
  margin: 500px auto;
  border-radius: 20px;
  
}

.nuevoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 400px;
  height: 700px;
  background-color: var(--DarkGrey);
  margin: 100px auto;
  border-radius: 20px;
  margin: 50px auto;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden; /* Limita el contenido visible al interior del contenedor */
  position: relative;

}
