.container_char{
    background-color: var(--DarkGrey);
    padding: 5px 150px 50px 150px;
    margin:150px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 300px; 
}