.titulo{
  /* background-color: blue; */
  text-align: center;
}
.Imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 200px;

}
.Imagen img{
  width: 600px;
  height: 500px;
}
h4{
  color: var(--Green);
  font-family: 'Inter','Arial';
}
h2{
  color: var(--White);
  font-family: 'Inter','Arial';
}
p{
  color: darkgray;
  font-family: 'Inter','Arial';
  font-size: 13px;
}