:root {
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--Off-Black);
}